.create-container {
  position: relative;
  width: 800px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  background: burlywood;
  box-shadow: 0px 0px 32px 0px #dfb264;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  color: black;
}

#category {

  padding: 30px;
  padding-left: 20px;
  height: 50px;
  margin-top: 10px;
  font-size: 24px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}
#summary,
#requirements {
  width: 100%;
  min-width: 20vw;
  min-height: 7em;
  border: 2px solid #86a480;
  border-radius: 0.7em;
  font-size: 26px;
  border-bottom-color: #ecf0f3;
  background-color: #ecf0f3;
  border-right-color: #ecf0f3;
  margin-top: 16px;
  margin-bottom: 16px;
  color: black;
  box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.create-company {
  text-align: left;
}

#company-name {
  text-decoration: underline;
}